body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    color: #1c2f35;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #60e3a9;
    color: #1c2f35;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

@media only screen and (max-width: 600px) {
    th, td {
        padding: 8px;
        font-size: 0.8em; 
    }
}
