
body
{
    box-sizing: border-box;
}
.container > .contactUs
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container > .contactUs .p8
{
    color:#1c2f35;
    font-size: 3.5em;
    margin: 0px;
    font-weight: bold;
}
.container > .contactUs .p9
{
    font-size: 1.2em;
    line-height: 1.8;
}


.container > .contact 
{
    /* border: 0.1px solid; */
    border-radius: 5px;
    background: #1c2f35;
}

.container > .contact .left
{
    /* background-color: #1c2f35; */
    color: #d7f7e8;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    /* box-shadow: 0 8px 16px 0   #d7f7e8, 0 8px 16px 0   #d7f7e8; */
}
.container > .contact .left .p1 
{
    font-size: 3em;
    line-height: 2;
}

.container > .contact .left .form 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.container > .contact .left .form input
{
    /* width: 90%; */
    width: 100%;
    height: 40px;
    border: 0.5px solid #60e3a9;
    border-radius: 5px;
    padding-left: 15px;
}

.container > .contact .left .form .infoPerso , .sujet
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}

.container > .contact .left .form .sujet
{
    flex-direction: column;
}
.container > .contact .left .form .sujet .message 
{
    padding: 15px 15px;
    font-family: auto;
    font-size: 1em;
    width: 98%;
    border-radius: 5px;
}
.container > .contact .left .form .sujet .soumettre 
{
    background-color: #60e3a9;
    border: none;
    height: auto;
    color: #1c2f35;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 24px 2px 4px;
    cursor: pointer;
    line-height: 2;
    border-radius: 5px;
}
.container > .contact .left .form  .soumettre:hover
{
    opacity: 0.98;
    color: #d7f7e8;
}